@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(45deg, rgb(38, 42, 53), rgb(62, 69, 88));
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100Vh;
    width: 100vw;
}

.calcParent {
    width: 300px;
    height: 600px;
    background-color: rgba(34,37,45,0.4);
    border-radius: 30px;
    position: absolute;
    backdrop-filter: blur(10px);
}



.btnsParent {
    height: 65%;
    padding: 10px;
    border-radius: 30px;
}

.inputCalcParent {
    height: 37%;
    border: none;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
}

.inputCalc {
    background: transparent;
    border: none;
    text-align: right;
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 220px;
}

.inputCalc:focus {
    outline: none;

}

.inputCalc::placeholder {
    color: white;

}

.div1 button {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 19px;
    padding: 10px;
    margin: 6px;
    outline: none;
    background-color: rgba(40,43,51,0.4);
    cursor: pointer;
    /* color: white; */
    font-size: 17px;
    transition: 0.3s;
    text-align: center;
}

.div1 button:hover{
    box-shadow: 0 0 10px 1px #484d60;
}

.div1 {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnsSubParent {
    margin-top: 15px;
}

.btnGreen {
    color:  #e38084;
    font-weight: 500;
}

.btnRed {
    color: #71e1d2;
    font-weight: 500;
}

.btnWhite {
    color: white;
    font-weight: 500;
}

#checkBox{
    visibility: hidden;
}

.toggleBtn{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.toggeLabel{
    width: 3rem;
    height: 2rem;
    background-color: #fff;
    display: inline-block;
    position: relative;
    border-radius: 10rem;
    transition: all .2s linear;
}

.toggleBall{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #2a2d37;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: .25rem;
    left: .25rem;
    transition: all .2s linear;
}

#checkBox:checked + .toggeLabel .toggleBall{
    transform: translateX(1rem);
    background-color: #e7c100;
}

#checkBox:checked + .toggeLabel {
    background-color: #5100e7;
}

.shapeDivMain{
    position: absolute;
    /* width: 1000px; */
    /* animation-duration: 10s;
    animation-delay: 0s; */
    /* transform: translate(-50%,-50%); */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.shapeDivMain .svg1{
    width: 400px;
    height: 400px;
    right: -243px;
    bottom: -357px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
}

.shapeDivMain .svg2{
    position: absolute;
    width: 300px;
    height: 300px;
    left: -243px;
    top: -357px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

/* .shapeDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px; */
    /* position: absolute; */
    /* border-radius: 50%; */
    /* animation: animate 5s linear infinite; */
    /* bottom: -150px;/ */
/* } */

@keyframes animate{
    /* 0%{rotate: 0deg;}
    100%{rotate: 360deg;} */
    /* 0%{
        transform:scale(1.2) rotate(0deg);
    }
    100%{
        transform: scale(1)  rotate(720deg);
    } */
    /* 0%{
        transform:scale(1) rotate(0deg);
    } */
}

/* .shapeDivMain > .shapeDiv:nth-child(1){
    right: -243px;
    bottom: -357px;
    animation-delay: 0s;
}

.shapeDiv :nth-child(2){
    left: -243px;
    top: -357px;
    animation-delay: 0s;
    transform: translate(-243px);
} */

/* .shapeDiv:first-child{
    background: linear-gradient(#9b22ea, #bf23f6);
    left: -243px;
    top: -357px;
}

.shapeDiv:last-child{
    background: linear-gradient(#ff512f, #f09819);
    right: -243px;
    bottom: -357px;
} */






